.Main-Menu {
    background-color: #C5D5D2;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Main-Menu-Logo-Wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.Main-Menu-Logo-Wrapper .Logo {
    margin-top: 5.92vh;
}

.Main-Menu-Logo-Wrapper .Logo h1 {
    font-size: 3.33vw;
    letter-spacing: 0.1em;
    width: 22vw;
}

.Main-Menu-Logo-Wrapper .Logo h2 {
    font-size: 1.25vw;
    letter-spacing: 0.48em;
    width: 22vw;
    height: 2.4vw;
    line-height: 2.4vw;
}

.Main-Menu-Options {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto 0;
}
