.level {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.levelVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.levelUI {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.levelToolbarScore {
  color: #ffffff;
  font-size: 1.25vw;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.levelToolbarButton {
  background-color: transparent;
}

.levelToolbarButton:hover {
  background-color: #328936;
}

.levelToolbarButton:active {
  background-color: #266829;
}

.levelUILoadingIndicator {
  width: 91.68vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4.16vw;
  margin: 0;
  color: #ffffff;
  font-size: 2.5vw;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-align: center;
}

.levelUITransitionText {
  width: 91.68vw;
  height: 100vh;
  padding: 0 4.16vw;
  margin: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5vw;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-align: center;
}

.levelUITransitionText p {
  margin: 0.75vh 0;
}

.levelUIHelperText {
  width: 91.68vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4.16vw;
  margin: 0;
  color: #ffffff;
  font-size: 2.5vw;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-align: center;
}

.levelUIOptionItem {
  height: initial;
  text-align: left;
  color: #ffffff;
  font-size: 1.25vw;
  font-weight: 900;
  letter-spacing: 0.1em;
  margin: 0 0 1.85vh 0;
  padding: 1.48vh 1.25vw;
}

.levelUIMultipleOptionsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vh 1vw;
}

.levelUIMultipleOptionsItem {
  height: initial;
  padding: 0;
  background-color: transparent;
}

.levelUIMultipleOptionsItem label {
  display: inline-block;
  color: #ffffff;
  font-size: 1.25vw;
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  letter-spacing: 0.1em;
  height: 5.92vh;
  border-radius: 0;
  padding: 0 1.04vw;
  background-color: transparent;
  border-color: transparent;
  line-height: 5.92vh;
}

.levelUIMultipleOptionsItem:active {
  background-color: transparent;
}

input:unchecked + .levelUIMultipleOptionsItem {
  background-color: transparent;
}

input:checked + .levelUIMultipleOptionsItem {
  background-color: rgba(38, 104, 41, 0.75);
}

.levelUIMultipleOptionsItemInput {
  display: none;
}
