.Level {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

.Level .Level-Video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.Level .Level-UI {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Level .Level-UI .Level-Toolbar span {
    color: #FFFFFF;
    font-size: 1.25vw;
    font-weight: 900;
    letter-spacing: 0.1em;
}

.Level .Level-UI .Level-Toolbar button {
    background-color: transparent;
}

.Level .Level-UI .Level-Toolbar button:hover {
    background-color: #328936;
}

.Level .Level-UI .Level-Toolbar button:active {
    background-color: #266829;
}

.Level .Level-UI .Transition-Text {
    color: #FFFFFF;
    font-size: 2.5vw;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-align: center;
}

.Level .Level-UI .Options-Wrapper .Option-Item {
    height: initial;
    text-align: left;
    color: #FFFFFF;
    font-size: 1.25vw;
    font-weight: 900;
    letter-spacing: 0.1em;
    margin: 0 0 1.85vh 0;
    padding: 1.48vh 1.25vw;
}

.Level .Level-UI .End-Wrapper {
    display: none;
}
