.level {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.levelVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.levelUI {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.levelToolbarScore {
  color: #ffffff;
  font-size: 1.25vw;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.levelToolbarButton {
  background-color: transparent;
}

.levelToolbarButton:hover {
  background-color: #328936;
}

.levelToolbarButton:active {
  background-color: #266829;
}

.levelUITransitionText {
  color: #ffffff;
  font-size: 2.5vw;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-align: center;
}

.levelUIOptionItem {
  height: initial;
  text-align: left;
  color: #ffffff;
  font-size: 1.25vw;
  font-weight: 900;
  letter-spacing: 0.1em;
  margin: 0 0 1.85vh 0;
  padding: 1.48vh 1.25vw;
}
