.Logo-Wrapper {
    background-image: url('../../images/SplashScreen.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #C5D5D2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.Logo {
    margin-top: 6.667vh;
}
