.splashScreen {
  background-image: url("../../images/SplashScreen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #c5d5d2;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.splashScreenLogoWrapper {
  margin-top: 6.667vh;
  display: flex;
  justify-content: center;
}

.splashScreenPressToStart {
  font-size: 3vw;
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  margin-bottom: 18vh;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 0px 8px #000000;
  cursor: pointer;
}

@keyframes scaling {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
