@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  color: #FFFFFF;
  font-size: 1.25vw;
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  letter-spacing: 0.1em;
  background-color: #3B4844;
  height: 5.92vh;
  border: 2px solid #94A3A0;
  border-radius: 0;
  padding: 0 1.04vw;
}

button:hover {
  background-color: #566862;
}

button:active {
  background-color: #3B4844;
}
